table tr {
  border-collapse: collapse;
  border: 1px solid rgb(163, 163, 163);
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(133, 133, 133);
}

thead td {
  padding: 20px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  background-color: rgb(250, 210, 242);
  cursor: pointer;
}

tbody td {
  padding: 20px;
  text-align: right;
  background-color: rgb(244, 229, 241);
}

table td:first-child {
  text-align: left;
  left: 0;
  position: sticky;
  background: white;
  border-right: 1px solid rgb(163, 163, 163);
  width: 117px;
  background-color: rgb(232, 229, 244);
}

table td:last-child {
  text-align: left;
  right: 0;
  position: sticky;
  background: white;
  border-left: 1px solid rgb(163, 163, 163);
  width: 117px;
  background-color: rgb(232, 229, 244);
}

table div {
  resize: both;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display: block;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

input {
  background: white;
  color: black;
  padding: 5px;
  border: unset;
  border-bottom: 1px solid black;
    outline: none;
}

button {
  background-color: transparent;
  border: unset;
  padding: unset;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination-select{
  display: flex;
  margin-right: 20px;
}

.pagination-page{
  display: flex;
}

.pagination-page button {
  margin-left: 10px;
}

select {
  border: unset;
  cursor: pointer;
}

.button-left{

}

.button-right{
  width: 40px;
  mask-position: 100%;
  display: block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  transform: rotate(270deg);
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNDhweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTI0IDI0SDBWMGgyNHYyNHoiIGZpbGw9Im5vbmUiIG9wYWNpdHk9Ii44NyIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTYtMS40MS0xLjQxeiIvPjwvc3ZnPg==");
  background-color: black;
}

.button-right.disabled,
.button-left.disabled {
  pointer-events: none;
  background-color: gray;
}

.button-left{
  width: 40px;
  mask-position: 100%;
  display: block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  transform: rotate(90deg);
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDhweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNDhweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTI0IDI0SDBWMGgyNHYyNHoiIGZpbGw9Im5vbmUiIG9wYWNpdHk9Ii44NyIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTYtMS40MS0xLjQxeiIvPjwvc3ZnPg==");
  background-color: black;
}